{% extends 'base.html' %} {% block content %}
<h1 style="padding-left: 12px">Products</h1>
<div
  class="product-grid"
  style="
    padding: 12px 0 12px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  "
>
  {% for product in products %}
  <div class="card" style="max-width: 18rem; margin: 5px">
    <img
      src="{{ product.image_url }}"
      class="card-img-top"
      alt="product-image"
    />
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">£{{ product.price }}</p>
      <a href="#" class="btn btn-primary">Add to bag</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
