.App {
  margin: 0 auto;
}

.main-link {
  text-decoration: none;
}

.main-link,
.main-link:hover {
  color: #fff;
}

a {
  text-decoration: none;
}

a,
a:hover {
  color: black;
}

.title {
  padding: 10px 0 10px 0;
  background: #183b54;
  color: #fff;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.title-container,
.content {
  width: 80%;
  margin: 0 auto;
}

.product-image {
  height: 180px;
}

.product-quantity {
  margin-bottom: 5px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
