.App {
  margin: 0 auto;
}

.main-link {
  text-decoration: none;
}

.main-link,
.main-link:hover {
  color: #fff;
}

a {
  text-decoration: none;
}

a,
a:hover {
  color: black;
}

.title {
  padding: 10px;
  background: #183b54;
  color: #fff;
}

.title-container,
.content {
  width: 80%;
  margin: 0 auto;
}

.subtitle {
  margin-left: 10px;
}

.product-image {
  height: 180px;
}

.product-quantity {
  margin-bottom: 5px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.carousel-container {
  margin-top: 10px;
  width: 50%;
}

.other-info-container {
  display: flex;
  margin-top: 10px;
}

.other-info {
  width: 50%;
  margin-left: 10px;
}

.other-info-title {
  margin-bottom: 10px;
}

.other-info-text {
  margin-top: 10px;
}
